.contacts-container{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-bottom: 0%;
}

.title-container {
    align-items: center;
    color: rgb(0, 72, 81);
    font-size: 20pt;
    min-height: min-content;
    margin: 0%;
    
  }

  .email-container {
    background-color:rgb(240, 240, 240);
    margin:2%;
    border-top:5px solid rgb(68, 183, 73);
    max-width: 33%;
    width:33%;
    padding-left: 2%;    
  }

  .phone-container {
    
    margin:2%;
    border-top:5px solid rgb(68, 183, 73);
    width:33%;
    max-width: 33%;
    padding-left: 2%; 
  }

  .address-container {
    margin:2%;
    border-top:5px solid rgb(68, 183, 73);
    width:33%;
    max-width: 33%;
    padding-left: 2%; 
  }

 .column-container{
    color: rgb(0, 72, 81);
    display: flex;
    width:100%;
    margin:0%;
 }

 @media(max-width:1150px){
  .column-container {
    color: rgb(0, 72, 81);
    margin: 0%;
    display: inline;
  }
  .email-container {
   
    width:100%;
    max-width: 100%; 
  }

  .phone-container {
    width:100%;
    max-width: 100%; 
    
  }

  .address-container {
    width:100%;
    max-width: 100%; 
  }
  img{
    width:30%;
  }


 }