.profile-container{
    display: flex;
    flex-direction: row;
    margin:20px;
}
img { max-width: 100%; max-height: 100%; }
input { display: none; }
.image-container{
    
    
    text-align: center;
    position: relative;
    height: auto;
    width: 100%;
}
.image-container:hover{
    visibility: visible;
}
.row {
  width:100%;
  display: flex;
  margin-left: 0;
  margin-right:0;
}

.column1 {
  flex: 30%;

  background-color: white;
}
.column2 {
  flex: 3%;
  background-color: grey;
}

.profile-image{
    border: 1px solid rgb(0 72 81);
    border-radius: 4px;
    padding: 5px;
    margin-left: 5%;
    width: 30%; 
    display:flex;
}
.profile-image:hover{
    opacity: 0.5;
    visibility: visible;
    cursor: pointer;

}
.edit-image {
    font-size: 18px;
    position: relative;
    /*top: 50%;
    left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*visibility: hidden;*/
    text-align: center;
    justify-content: center;
}
.edit-image:hover{
    visibility: visible;
    cursor: pointer;
}



.details-container{
    padding-left: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.details-container:hover{
    background-color: none;
    cursor: default !important;
}
.details-ul{
    display: flex;
    flex-direction: column;
    background-color: none;
    align-items: flex-start !important;
    margin-left: 5%;
    padding: 2% !important;
}
.details-ul:hover{
    display: flex;
    flex-direction: column;
    background-color: none;
    cursor: default !important;
}
.details-element{
    background-color: initial !important;
    color: black !important;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 5px !important;
    margin-left: 20px !important;
    text-align: left;
    align-items: flex-start !important;
}

.roles{
  background-color: rgb(68, 183, 73);;
  border-radius: 25px;
  color: black !important;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 5px !important;
  margin: 20px !important;
  text-align: left;
  align-items: flex-start !important;
}

.details-element:hover{
    cursor: default !important;
}

.details-label{
    font-weight: bold;
    background-color: initial !important;
    color: black !important;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: left;
    align-items: flex-start !important;
    padding: 5px !important;
}

.details-label:hover{
    cursor: default !important;
}


/* CALENDAR STARTS HERE */


ul {
  /* removes style sheet clashes*/
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  
  
  list-style-type: none;
} 

body {
  font-family: Verdana, sans-serif;
}

