
img { max-width: 100%; max-height: 100%; }
input { display: none; }
.image-container{
    
    
    text-align: center;
    position: relative;
    height: auto;
    width: 100%;
}
.image-container:hover{
    visibility: visible;
}
.row {
  width:100%;
  display: flex;
  margin-left: 0;
  margin-right:0;
}

.column1 {
  flex: 30%;

  background-color: white;
}
.column2 {
  flex: 3%;
  background-color: rgb(231, 231, 231);
}

.profile-image{
    border: 1px solid rgb(0 72 81);
    border-radius: 4px;
    padding: 5px;
    margin-left: 5%;
    width: 50%; 
    display:flex;
    align-content: center;
    margin-left: 25%;
    color:rgb(0, 72, 81);
}


.details-container{
    padding-left: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.details-element{
    background-color: initial !important;
    color: black !important;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 5px !important;
    margin-left: 20px !important;
    text-align: left;
    align-items: flex-start !important;
}

.roles{
    font-weight: bold;
    background-color: rgb(68, 183, 73);;
    border-radius: 25px;
    color: black !important;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 20px !important;
    text-align: left;
    align-items: flex-start !important;
    

    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

progress {
    margin-left: 15% !important;
    width:70%;
}

.text{
    color:rgb(0, 72, 81);
    margin-left:15%;
}

.applications{
    font-weight: bold;
    background-color: rgb(68, 183, 73);
    border-radius: 25px;
    color: black !important;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 20px !important;
    text-align: left;
    align-items: flex-start !important;

    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }



.details-label{
    font-weight: bold;
    background-color: initial !important;
    color: black !important;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: left;
    align-items: flex-start !important;
    padding: 5px !important;
    padding-left:5%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 25px;
}
.details-big{
    font-weight: bold;
    background-color:  rgb(68, 183, 73);
    color: black !important;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: left;
    align-items: flex-start !important;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.details-small{
    background-color: initial !important;
    color: black !important;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: left;
    align-items: flex-start !important;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media(max-width: 600px){
    
    .column1 {
        flex: 100%;
    
        background-color: white;
    }
    .column2 {
        flex: 0%;
        background-color: rgb(231, 231, 231);
    }
}
  

