
.policy-container{
    
   
    background-color: white;
    width: 100% 
    color: rgb(0, 72, 81);
    display: inline;

}

.content-container{
    width:100%;
}

.policy-type1{
    width:100%;
    background-color: white;
}
.policy-type2{
    width:100%;
    background-color: rgb(233, 232, 232);
}



